body {
	background-image: url("../network.jpg");
	background-repeat: no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size: cover;
}

/*.mainComponent{
	background-color: white;
}*/