.blog-list{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     align-content: space-between;
     
}

.elements{
	width: 300px;
	margin-bottom: 40px;
    list-style-type: none;

}

.main-blog {
	padding: 50px 50px;

}


.blog {
	text-align: center;
}


.blog-submit {
    width: 25%;
    background-color: #4CAF50;
    color: white;
    padding: 8px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 15px;
}

.blog-counter {
	width: 25%;
    background-color: #4CAF50;
    color: white;
    padding: 8px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 15px;

}

.blogtitle {

}

.create-blog {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.new-blog {
    align-content: space-between;
	background-color: white;
	padding: 50px 50px;
}
.new-blog input {
    width: 50%;
    padding: 12px 20px;
    border-spacing: 5px;
    margin:  8px 0;
    margin-left:10px;
    display: inline-block;
    border:  1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}




