.blog-list{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     align-content: space-between;
     
}

.elements{
	width: 300px;
	margin-bottom: 40px;
}

.main-blog {
	padding: 50px 50px;

}

li {
	list-style-type: none;
}

h1 {
	text-align: center;
}

input[type:text] {
	width: 50%;
    height: 25px;
	padding: 12px 20px;
    border-spacing: 5px;
	margin:  8px 0;
	margin-left:10px;
	display: inline-block;
	border:  1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit]{
    width: 25%;
    background-color: #4CAF50;
    color: white;
    padding: 8px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 15px;
}

button {
	width: 25%;
    background-color: #4CAF50;
    color: white;
    padding: 8px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 15px;

}

.create-blog {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.new-blog {
    /*width: 500;
	margin: 0 auto;*/
    /*width: 1000;
    height: 400;*/
   
    align-content: space-between;
	background-color: white;
	padding: 50px 50px;
}

/*input.body{
	width:200px;
	height:80px;
}*/

h1.blog{
	font-family:Georgia;
}


