body,html{
	width:100%
}

div.login.loginFlex{
	height:50px;
	padding: 12px;
	padding-left:20px;
	display: flex;
	justify-content: space-around;
	align-content: stretch;
	margin-top: -8px;
	margin-left: -9px;

}

.login{
	background-color: #424242;
}

.loginImage{
	padding-top: 5px;
	padding-bottom: 5px;
}

div.loginPadding{
	display: flex;
	justify-content: space-between;
}
img{
	margin-left:-75px;
	margin-top:5px;
}

input.btn.btn-default{
 width:60px;
 height:60px;
}

input.username.form-control{
	width:150px;
	margin-left:15px;

}
input.password.form-control{
	width:150px;
	margin-left: 15px

}