body,html{
	width:100%
}

div.login.loginFlex{
	height:50px;
	padding: 40px;
	padding-left:20px;
	display: flex;
	justify-content: space-around;
	align-content: stretch;
	margin-top: -8px;
	margin-left: -9px;

}

.login{
	background-color: #424242;
}

.loginImage{
	padding-top: 5px;
	padding-bottom: 5px;
}

form.loginPadding{
	display: flex;
	align-items: center;
	margin-top:-20px;
/*	margin-left:90px;*/
}
img{
	margin-left:-15px;
	margin-top:-30px;
}

input.btn.btn-default.form-control{
width:70px;
height:30px;
color: #999994;
font-style: bold

padding-top: 4px;
/*border-top-left-radius: 3px;
border-bottom-left-radius:3px;
border-top-right-radius: 3px;
border-bottom-right-radius:3px;*/
border-color: #ecf0f1
margin-top: -150px;
margin-left: 20px
}

input.username.form-control{
	width:200px;
	height:30px;
	margin-top:-1px;
	margin-right:-135px;
	border-color: #ecf0f1
}
input.password{
	width:200px;
	height:30px;
	margin-left: 150px;
	margin-top: -1px;
	border-color: #ecf0f1

}