/*ALL EDUCATION COMPONENT CSS//////*/
#resume {
  width: 250px;
  height: 235px;

} 

#image{
  display: flex;
  flex-direction: row;
}

#educationInput {
  display: flex;
  flex-direction: column;
  /*background-color: red;*/
  width: 200px;
  height: 200px;
}

#educationMainDiv {
  display: flex;
  flex-direction: row;
  width: 200px;
}

#educationFormStyle {
  display: flex;
  flex-direction: column;
  
}
.educationInputStyle {
  height: 30px;
  width: 200px;
  
}

#outputDiv {
  height: 30px;
  width: 200px;
  
}


.eduOutput{
  /*display: block;*/
  /*width: 1000;*/
  border-color: white;
  /*border-width: 10px;*/
  border-style: dotted;
/*  align-items: center;
  flex-direction: column;*/

  /*height: 100px;*/
}

