/*ALL EDUCATION COMPONENT CSS//////*/
#resume {
  width: 200px;
  height: 200px;

} 

#educationInput {
  display: flex;
  flex-direction: column;
  /*background-color: red;*/
  width: 200px;
  height: 200px;
}

#educationDiv {
  display: flex;
  flex-direction: row;
  background-color: yellow;
}

#educationFormStyle {
  display: flex;
  flex-direction: column;
  
}
.educationInputStyle {
  height:30px;
  
}

